*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.title{
    width: 100%;
    height: auto;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contHeader{
    display: flex;
    width: 80%;
    height: auto;
    justify-content: space-between;
}

.contLine{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linea{
    width: 80%;
    height: 2px;
    background-color: black;
}

.perfilHeader{
    width: 20%;
}

nav{
    width: 60%;
}

.direcciones{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    list-style: none;
    font-weight: 300;
}

.perfil{
    width: 15%;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Inter';
}

.redesHeader{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 20%;
}

.redes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
}

i{
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

i:hover{
    transform: scale(1.4) translateY(-5px);
    -webkit-transform: scale(1.4) translateY(-5px);
    -moz-transform: scale(1.4) translateY(-5px);
    -ms-transform: scale(1.4) translateY(-5px);
    -o-transform: scale(1.4) translateY(-5px);
}

li{
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

li:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    border-bottom: 1px solid black;
}

/*--------------Principal----------------*/


.contactImg{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.contenedorPrincipal{
    width: 80%;
    position: relative;
    display: inline-block;
}

.presentar{
    width: 100%;
}


.textoEncima{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    font-family: 'Jost';
    font-weight: 00;
}

/*--------------PASTEL :D---------------*/

.contCuadrito{
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divCuadrito{
    width: 80%;
}

.cuadrito{
    width: 550px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-family: 'Jost';
    font-size: 20px;
}

.contSecciones{
    margin-top: 70px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centrarSecciones{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid rgba(0, 0, 0, 0.527);
    padding: 10px;
}

.secciones{
    width: 50%;
    text-align: center;
    font-family: 'Jost';
    font-size: 22px;
    color: rgba(0, 0, 0, 0.65);
}
/*----------Seguimos--------------*/

.oferta{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.ofertas{
    font-family: 'jost';
    font-size: 25px;
    color: #787C80;
}

.servicio{
    font-family: 'Jost';
    font-size: 17px;
}

.cont-Oferta{
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*------------Pasteles---------------*/

.letrasBold{
    width: 100%;
    font-family: 'Jost';
    color: #787C80;
    margin-bottom: 7px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.botCarrito{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ver{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: none;
}

.ver:hover{
    background-color: rgba(255, 255, 255, 0.466);
}

.carro{
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0.534);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.carro::before{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carro:hover{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    color: black;
}

.letras{
    font-family: 'Jost';
    font-size: 18px;
    margin-bottom: 35px;
}

.pastelesBoda{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.contOf{
    width: 80%;

}

.contPasteles{
    width: 100%;
    margin-bottom: 50px;
}

.pasteles{
    width: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.pastel{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.233);
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.pastel:hover{
    background-color: #eeeeee;
    border-color: rgba(0, 0, 0, 0.685);
}

.tortita{
    width: 100%;
}

.pastelText{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-left: 20px;
    margin-right: 20px;
}


.pastelTitle{
    width: 100%;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.70);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.text{
    width: 100%;
    font-family: 'Jost';
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.pastelPrecio{
    width: 100%;
    font-family: 'Jost';
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}

.comprar{
    width: 100px;
    height: 30px;
}

.buy{
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.411);
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.493);
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}

.buy:hover{
    border: 4px solid rgba(0, 0, 0, 0.534);
    background-color: #ffffff;
    color: black;
}

.buy:active{
    background-color: white;
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
}
/*-------------Footer----------------*/

.siguenosText{
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-size: 25px;
    color: rgba(0, 0, 0, 0.527);
}

footer{
    width: 100%;
    height: auto;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redesSociales{
    width: 80%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contRedes{
    width: 42%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.redSocial{
    width: 100%;
}

.derechosAutor{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7E9E4;
    margin-top: 40px;
    font-family: 'Jost';
}

.red{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.red:hover{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.ig:hover{
    filter: drop-shadow(0px 0px 10px #F00);
}

.fb:hover{
    filter: drop-shadow(0px 0px 10px rgb(0, 60, 255));
}

.tw:hover{
    filter: drop-shadow(0px 0px 10px rgb(0, 255, 234));
}

.tk:hover{
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
}

.contimage{
    position: relative;
    display: inline-block;
}

.enseñar{
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.textUp{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.70);
    color: white;
    font-size: 20px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    font-family: 'Jost';
}

.contimage:hover .textUp{
    display: flex;
    opacity: 1;
}

.contimage:hover .enseñar{
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
}

/*----------------------------CARRITO-------------------------------*/

/* .contCarrito{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrito{
    width: 80%;
    height: 100%;
    background-color: aliceblue;
    border: 4px solid rgb(160, 160, 160);
} */

#miAside{
    position: fixed;
    top: 0;
    right: -400px; /* Inicialmente fuera de la pantalla */
    width: 400px;
    height: 100%;
    background-color: #f8fdff;
    color: white;
    transition: right 0.3s; /* Transición suave */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*---------------Carrito personalizar-----------------*/

.tituloCarro{
    background-color: rgb(219, 225, 255);
    color: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 25px;
    width: 100%;
    height: 60px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.cerrar{
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    text-align: center;
}

.cerrar:hover{
    transform: scale(1.12);
    -webkit-transform: scale(1.12);
    -moz-transform: scale(1.12);
    -ms-transform: scale(1.12);
    -o-transform: scale(1.12);
    color: rgb(255, 0, 0);
}

/*----Agregar Carrito JS----*/

#tituloInsert{
    color: rgba(0, 0, 0, 0.60)
}

.contSelect{
    width: 100%;
    height: auto;
    margin-top: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.466);
    margin: 20px;
}

.titlePedido{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 25px;
    background-color: #ffffff;
    height: 50px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.219);
}

.titleNotas{
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.60);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0.219);
    background-color: white;
}

.pedido{
    width: 100%;
    height: 60px;
    background-color: rgb(226, 240, 253);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.notas{
    background-color: rgb(226, 240, 253) ;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#notitas{
    max-width: 350px;
    min-width: 350px;
    max-height: 60px;
    min-height: 60px;
    resize: none;
    font-family: 'Jost';
    font-size: 15px;
    padding-left: 10px;
}

.eliminar{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 0, 0, 0.49);
    font-family: 'Quicksand';
    font-size: 20px;
    font-weight: 700;
}

#eliminarPedido{
    cursor: pointer;
}

.contNumber{
    width: 50%;
    display: flex;
    justify-content: center;
}

.contPrin{
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 3px solid rgba(0, 0, 0, 0.356);
    background-color: white;
    color: black;
    font-family: 'Jost';
}

.contPrecio{
    width: 50%;
    display: flex;
    justify-content: center;
}

.compra{
    width: 120px;
    height: 30px;
    border: 3px solid rgba(0, 0, 0, 0.356);
    text-align: center;
    outline: none;
}

.cajita{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botMas{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-family: 'Jost';
    font-size: 15px;
    font-weight: 700;
}

.botMenos{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-family: 'Jost';
    font-size: 15px;
    font-weight: 700;
}

.botMas:hover{
    background-color: #ebebeb;
}

.botMenos:hover{
    background-color: #ebebeb;
}

#miAside{
    overflow: scroll;
}