<!-- base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}Mi Sitio{% endblock %}</title>
</head>

<body>
    <!-- Contenido común de todas las páginas -->

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Mostrar comentarios -->
    <h2>Comentarios</h2>
    <ul>
        {% for comentario in comentarios %}
        <li>{{ comentario.usuario }}: {{ comentario.comentario }}</li>
        {% endfor %}
    </ul>

</body>

</html>