<!-- templates/carrito.html -->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
</head>

<body>
    <h1>{{cart_id}}</h1>
    {% if username %}
    <p>Bienvenido, {{ username }}!</p>
    {% else %}
    <p>Bienvenido al sitio web!</p>
    {% endif %}
    <h1>Carrito de Compras</h1>

    {% if productos_en_carrito %}
    <ul>
        {% for cart_details in productos_en_carrito %}
        <li>
            <strong>Producto ID: {{ cart_details.product_id }}</strong>
            <p>Cantidad: {{ cart_details.quantity }}</p>
            <p>Precio Total: ${{ cart_details.total_price }}</p>
            <!-- Puedes agregar más detalles del producto si lo deseas -->
        </li>
        {% endfor %}
    </ul>

    <!-- Agregar la suma total -->
    <p>Suma Total: ${{ total_price_sum }}</p>

    <!-- Agregar el botón para finalizar la compra -->
   <form method="post" action="{{ url_for('finalizar_compra') }}">
        <button type="submit">Finalizar Compra</button>
    </form>
    {% else %}
    <p>No hay productos en el carrito.</p>
    {% endif %}

    <!-- templates/carrito.html -->
    <!-- ... (contenido previo) -->
</body>

</html>