<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/web/contactform/contacto.css">
    <link type="image/png" rel="icon" href="img/logo/Dulces promesas.jpg">
    
    <title>Contáctanos</title>
</head>
<body>
    
    <header>
        <article class="contHeader">
            <section class="perfilHeader">

                <a href="{{ url_for('login') }}"><img src="/static/web/img/perfil.png" class="perfil" alt="perfil"></a>
                <i class='bx bx-chevron-down bx-md'></i>
                <div class="perfil-name">
                    {% if username %}
                    <p>Bienvenido, {{ username }}!</p>
                    {% else %}
                    <p>Bienvenido al sitio web!</p>
                    {% endif %}
                </div>
            </section>

            <nav>

                <ul class="direcciones">
                    <li><a href="{{ url_for('index.index') }}">Inicio</a></li>
                    <!--<li><a href="{{ url_for('compras') }}">Pedidos Online</a></li>-->
                    <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
                    <li><a href="{{ url_for('nosotros') }}">Nosotros</a></li>
                    <li><a href="{{ url_for('comentarios') }}">Comentarios</a></li>
                    <li><a href="{{ url_for('productos') }}">Productos</a></li>
                    <li><a href="{{ url_for('asistente') }}">Asistente</a></li>
                </ul>

            </nav>

            <section class="redesHeader">
                
                <div class="redes">
                    <a href="https://www.facebook.com/profile.php?id=61551121165907" target="_blank"><i class='bx bxl-facebook bx-sm'></i></a>
                    <a href="#"><i class='bx bxl-whatsapp bx-sm'></i></a>
                    <a href="#"><i class='bx bxl-pinterest-alt bx-sm'></i></a>
                    <a target="_blank" href="https://www.instagram.com/dulces_promesas_oficial/?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D"><i class='bx bxl-instagram bx-sm'></i></a>
                </div>

            </section>
        </article>

    </header>

    <div class="contLine">
        <div class="linea"></div>
    </div>
    <br>

    <section class="contactImg">

            <div class="contenedorPrincipal">
                <img class="presentar" src="/static/web/img/Contactos/imgOne.png" alt="">
                <div class="textoEncima"><h2>CONTACTO</h2></div>
            </div>

    </section>

    <br>
    <br>

    <div class="contLine">
        <div class="linea"></div>
    </div>

    <br><br>

    <section class="miniInfo">

        <div class="contInfo">
            <h4>000 000 000 | dulcespromesas@info.com</h4>
        </div>

        <br>
        <br>

        <div class="contInfo">
            <h5>En "Dulces Promesas"nos importa demasiado la opinión del cliente, es por tal razón que priorizamos <br> crear una muy buena experiencia para usted.</h5>
        </div>

    </section>

    <br>
    <br>

    <section class="contenedorForm">
    <form action="/contacto" method="post">

        <div class="contPrinForm">
            <div class="inputPrincipal">
                <input id="nom" name="nombre" class="prin" type="text" placeholder="Nombre">
            </div>
            <div class="inputPrincipal">
                <input id="gmail" name="email" class="prin" type="email" placeholder="Email">
            </div>
        </div>
        <div class="contSecForm">
            <textarea name="mensaje" id="contact" placeholder="Mensaje"></textarea>
        </div>
        <div class="contButtom">
            <input type="submit" class="botoncito" value="Enviar">
        </div>
    </form>

    </section>

    <footer>

        <div class="siguenosText"><h2>Síguenos en nuestras Redes Sociales</h2></div>
        <article class="redesSociales">

            <div class="contRedes">
                
                <a target="_blank" href="https://www.instagram.com/dulces_promesas_oficial/?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D" class="red ig"><img src="/static/web/img/Redes/instagram (2).png" class="redSocial" alt=""></a>

                <a href="https://www.facebook.com/profile.php?id=61551121165907" target="_blank" class="red fb"><img src="/static/web/img/Redes/facebook.png" class="redSocial" alt=""></a>

                <a href="#" class="red tw"><img src="/static/web/img/Redes/gorjeo (1).png" class="redSocial" alt=""></a>

                <a href="#" class="red tk"><img src="/static/web/img/whatsapp.png" class="redSocial" alt=""></a>

            </div>

        </article>

        <article class="derechosAutor">

            <p>2023 - "Las Dulces Promesas" Página Oficial</p>

        </article>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/web/js/contacto.js"></script>
</body>
</html>