<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/login/Dulces promesas.jpg" />
    <link rel="stylesheet" href="/static/web/css/login2.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
        content="572940261909-sdkgkduojsuucvb05o2iesop6o21cnhb.apps.googleusercontent.com">
    <link type="image/png" rel="icon" href="../static/web/img/logo/Dulces promesas.jpg">
    <link rel="stylesheet" href="../static\web\css\sweetalerts2.css">
    <title>Bienvenio/a - Dulces Promesas</title>
</head>

<body>
    <button type="submit" class="boton-atras">
        <a href="{{ url_for('index.index') }}">
        <img class="send" src="static\web\img\svg\Move-Back--Streamline-Ultimate.svg" alt="Iniciar Sesión"></a>
    </button>

                <form method="POST" action="/login">
                    <div class="elegir-opcion">
                        
                        <div class="cont-log"><a href="{{ url_for('login') }}">
                                <p>Logeate</p>
                            </a>
                            <div class="select-visible"></div>
                        </div>
                        <div class="cont-reg"><a href="{{ url_for('registro') }}">
                                <p>Registrate</p>
                            </a>
                            <div class="select-invisible"></div>
                        </div>
                    </div>

                    <div class="formulario">
                        <div class="user">
                            <input id="username" name="username" class="datos" type="text"
                                placeholder="Ingresar usuario">
                            <label for="username"><img class="icon icon-user"
                                    src="/static/web/img/img login/login/usuario.png" alt=""></label>
                        </div>
                         <br>
                        <div class="password">
                            <input id="password" name="password" class="datos" type="password"
                                placeholder="Ingresar contraseña">
                            <label id="botonClave" for="password">
                                <div id="bloquear"><img class="icon icon-password"
                                        src="/static/web/img/img login/login/bloquear.png" alt=""></div>
                                <div id="mostrar"><img src="/static/web/img/img login/register/candado-abierto.png"
                                        alt="">
                                </div>
                            </label>
                            
                        <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div>-->
                    </div>
                    <br>
                        <button type="submit" class="boton-enviar">
                        <img class="send" src="static\web\img\svg\Log-Out-Square-1--Streamline-Nova.svg" alt="Iniciar Sesión">
                        </button>
                </form>

            </section>

        </article>

    </section>


    {% if error_message %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            title: 'Error',
            text: '{{ error_message }}',
            icon: 'error',
            confirmButtonText: 'REINTENTAR'
        });
    </script>
    {% endif %}

</body>
</html>
