<!-- templates/productos.html -->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>

<body>
    <a href="{{ url_for('ver_carrito') }}">Ir al Carrito</a>
    <h1>{{cart_id}}</h1>
    {% if username %}
    <p>Bienvenido, {{ username }}!</p>
    {% else %}
    <p>Bienvenido al sitio web!</p>
    {% endif %}
    <form method="post" action="{{ url_for('comprar') }}">
        <button type="submit">Finalizar Compra</button>
    </form>

    <form method="post" action="{{ url_for('ver_carrito') }}">
        <button type="submit">Finalizar Compra en carrito</button>
    </form>
    <h1>Lista de Productos</h1>
    <ul>
        {% for producto in productos %}
        <li>
            <strong>{{ producto['nombre'] }}</strong>
            <p>{{ producto['descripcion'] }}</p>
            <p>Precio: ${{ producto['precio'] }}</p>
            <img src="{{ producto['imagen'] }}" alt="{{ producto['nombre'] }} Image">

            <!-- Formulario para agregar al carrito sin opción de cantidad -->
            <form method="post" action="{{ url_for('agregar_al_carrito', producto_id=producto.id) }}">
<label for="cantidad">Cantidad:</label>
                <input type="number" id="cantidad" name="cantidad" value="1" min="1">
                <button type="submit">Agregar al Carrito</button>
            </form>
        </li>
        {% endfor %}
    </ul>

</body>

</html>