<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/web/img/login/Dulces promesas.jpg" />
    <link rel="stylesheet" href="/static/web/css/registro.css">
    <link type="image/png" rel="icon" href="../static/web/img/logo/Dulces promesas.jpg">
    <title>Bienvenio/a - Dulces Promesas</title>
</head>

<body>
        <button type="submit" class="boton-atras">
            <a href="{{ url_for('index.index') }}">
                <img class="send" src="static\web\img\svg\Move-Back--Streamline-Ultimate.svg" alt="Iniciar Sesión"></a>
        </button>

                <form method="POST" action="/registro">
                    <div class="elegir-opcion">
                        <div class="cont-log"><a href="{{ url_for('login') }}">
                            <p>Logeate</p>
                        </a>
                        
                        </div>
                        <div class="cont-reg"><a href="{{ url_for('registro') }}">
                                <p>Registrate</p>
                            </a>
                            <div class="select-visible"></div>
                        </div>
                    </div>

                    <div class="formulario">
                        <div class="user">
                            <input id="username" name="username" class="datos" type="text"
                                placeholder="Ingresar usuario">
                            <label for="username"><img class="icon icon-user"
                                    src="/static/web/img/img login/login/usuario.png" alt=""></label>
                        </div>
                        <br>
                        <div class="password">
                            <input id="password" name="password" class="datos" type="password"
                                placeholder="Ingresar contraseña">
                            <label id="botonClave" for="password">
                                <div id="bloquear"><img class="icon icon-password"
                                        src="/static/web/img/img login/login/bloquear.png" alt=""></div>
                                <div id="mostrar"><img src="/static/web/img/img login/register/candado-abierto.png" alt="">
                                </div>
                            </label>
                        </div>
                        <br>
                        <div class="email">
                            <input type="email" name="email" class="datos" id="datos-email"
                                placeholder="Ingresar E-mail">
                            <label for="datos-email"><img class="icon" src="/static/web/img/img login/register/email.png"
                                    alt=""></label>
                        </div>
                        <br>
                        <button type="submit" class="boton-enviar">
                            <img class="send" src="static\web\img\svg\Log-Out-Square-1--Streamline-Nova.svg" alt="Registrarse">
                        </button>
                        
                    </div>
                </form>
            </section>

        </article>

    </section>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>